@media (max-width: 756px) {
    .center {
        padding-left: 16px;
        padding-right: 16px;
      }
.button2{
  position: absolute;
  background: rgb(0, 0, 0);
  text-align: center;
  border: 1px solid #fff;
  box-sizing: border-box;
  border-radius: 60px;
  margin-top: 18px;
  height: 55px;
  width: 247px;
  font-size: 16px;
  font-weight: 400;
  line-height: 50px;
  margin-left: 5px;
  font-family: Montserrat;
  font-size: 24px;
  margin-left: 72px;
  margin-top: 48px;
  display: inline-block;
  color: #fff;

}      
.button2:hover {
  background: white;
  text-align: center;
  border: 1px solid #202027;
  color: black;
}

  .mini-game{
    color: rgb(255, 255, 255);
font-family: Montserrat;
font-size: 40px;
line-height: 49px;
letter-spacing: 0px;
text-align: left;
padding-top: 50px;
  }
.text1{
    color: rgb(32, 32, 39);
    font-family: Montserrat;
    font-size: 40px;
    line-height: 49px;
    text-align: center;  
}
.block{
    color: rgb(32, 32, 39);
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: center;
}
.multi-bg-example{
    background-image: url(img/Vector1.svg);
    background-color: rgb(225, 255, 143);
    background-repeat: no-repeat;
    background-position: calc(90% + 120px) calc(2% - 110px);
}
.card1{
    position: absolute;
    width: 21px;
height: 21px;
right: 260px;
}
.card2{
  position: absolute;
  width: 35px;
  height: 35px;
  right: 620px;
  margin-left: 00px;
  margin-right: -300px;
}
.card3{
  position: absolute;
  width: 39px;
  height: 41px;
  margin-left: 310px;
  margin-top: 175px;
}
.card4{
  position: absolute;
  width: 18px;
  height: 18px;
  margin-left: 280px;
  margin-top: 150px;
}
.for-box{
    display: none;
}
.for-box1{
    height: 3700px;
}
.game1 {
  background-color: #fff;
  width: 342px;
  margin-top: 36px;
  border-radius: 28px;
  height: 510px;
  }

  .game2{
  background-color: #fff;
  width: 342px;
  margin-top: 36px;
  border-radius: 28px;
  height: 560px;
  }
  .game3 {
    background-color: #fff;
    width: 342px;
    margin-top: 36px;
    border-radius: 28px;
    height: 520px;
    }

  .game4 {
  background-color: #fff;
  width: 342px;
  margin-top: 36px;
  border-radius: 28px;
  height: 530px;
  }
  .game5 {
    background-color: #fff;
    width: 342px;
    margin-top: 36px;
    border-radius: 28px;
    height: 570px;
    }
    .game6 {
      background-color: #fff;
      width: 342px;
      margin-top: 36px;
      border-radius: 28px;
      height: 600px;
      }
  .game-img1 {
    margin-left: -1px;
    width: 343px;
    height: 283px;
  }
  .game-img2 {
    margin-left: -1px;
    width: 343px;
    height: 283px;
  }
  .title-game {
    color: rgb(32, 32, 39);
    font-family: Montserrat;
    font-size: 32px;
    font-weight: 700;
    line-height: 39px;
    letter-spacing: 0px;
    text-align: left;
    margin-bottom: 10px;
    width: 284px;
  }
  .title-game1 {
    color: rgb(32, 32, 39);
    font-family: Montserrat;
    font-size: 32px;
    font-weight: 700;
    line-height: 39px;
    letter-spacing: 0px;
    text-align: left;
    width: 284.93px;
    margin-bottom: 10px;
  }
  
  .describe {
    color: rgb(0, 0, 0);
font-family: Montserrat;
font-size: 16px;
font-weight: 400;
line-height: 20px;
letter-spacing: 0px;
text-align: left;
width: 275px;
  }
  .describe1 {
    color: rgb(0, 0, 0);
font-family: Montserrat;
font-size: 16px;
font-weight: 400;
line-height: 20px;
letter-spacing: 0px;
text-align: left;
width: 275px;
  }
  
  .play {
    width: 285px;
    height: 55px;
  padding: 16px 28px 16px 28px;
  border-radius: 60px 60px 60px 60px;
  background-color: #202027;
  border-color: #202027;
  font-family: Montserrat;
  line-height: 34.01px;
  text-align: center;
  border: 1px solid rgb(32, 32, 39);

color: rgb(255, 255, 255);
font-family: Montserrat;
font-size: 16px;
font-weight: 600;
line-height: 141.69%;
text-align: center;
  }
  .pole {
   
    margin-left: 40px;
    margin-top: 0;
    width: 284px;
    height: 182px;
  }
  
  .pole1 {
    margin-left: 40px;
    margin-top: 0px;
    width: 284px;
    height: 182px;
  }
  
  .pole3 {
    margin-left: 40px;
    margin-top: 0px;
    width: 284px;
    height: 182px;
  }

  .pole4 {
    margin-left: 40px;
    margin-top: 0px;
    width: 284px;
    height: 182px;
  }
  .polet{
    color: rgb(0, 0, 0);
font-family: Montserrat;
font-size: 16px;
font-weight: 600;
line-height: 20px;
letter-spacing: 0px;
text-align: center;
padding-top: 40px;
  }
  .pol1{
    background-color: rgb(225, 255, 143);
    height: 100px;
  }
  .star-end1{
display: none;
  }
  .star-end2{
   display: none;
     }
  .star-end3{
    display: none;
     }
  .star-end4{
   display: none;
   }

}