@media (max-width: 756px) {
    .center {
        padding-left: 16px;
        padding-right: 16px;
      }
.header-button{
  display: table;
  background: rgb(0, 0, 0);
  text-align: center;
  border: 1px solid #fff;
  box-sizing: border-box;
  border-radius: 60px;
  margin-top: 18px;
  height: 66px;
  width: 247px;
  font-size: 16px;
  font-weight: 400;
  line-height: 50px;
  margin-left: 50px;
  font-size: 24px;
  margin-top: 48px;
  display: inline-block;
  color: #fff;
  font-family: Montserrat;

}     
.header-button:hover{
  position: static;
  background: rgb(248, 245, 245);
  text-align: center;
  border: 1px solid #080808;
  box-sizing: border-box;
  border-radius: 60px;
  margin-top: 18px;
  height: 66px;
  width: 247px;
  font-size: 16px;
  font-weight: 400;
  line-height: 50px;
  margin-left: 50px;
  font-size: 24px;
  margin-top: 48px;
  display: inline-block;
  color: #0f0f0f;


}      
.header{
  background-image: url(img/Vector1.svg);
  background-color: rgb(225, 255, 143);
  background-repeat: no-repeat;
  background-position: calc(90% + 120px) calc(2% - 110px);
}
.header__text_big{
  color: rgb(32, 32, 39);
  font-family: Montserrat;
  font-size: 40px;
  line-height: 49px;
  text-align: center;
}

.header__text_little{
    color: rgb(32, 32, 39);
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: center;
}
.multi-button:hover {
  background: white;
  text-align: center;
  border: 1px solid #202027;
  color: black;
}
.star__upper_left{
  position: absolute;
  width: 21px;
  height: 21px;
  right: 260px;
}
.star__lower_left {
  position: absolute;
  width: 35px;
  height: 35px;
  right: 620px;
  margin-left: 0px;
  margin-right: -300px;
}
.star__upper_right{
  position: absolute;
  width: 18px;
  height: 18px;
  margin-left: 280px;
  margin-top: 150px;
}
.star__lower_right {
  position: absolute;
  width: 39px;
  height: 41px;
  margin-left: 310px;
  margin-top: 175px;
}

  .product__title{
    color: rgb(255, 255, 255);
font-family: Montserrat;
font-size: 40px;
line-height: 49px;
letter-spacing: 0px;
text-align: left;
padding-top: 50px;
  }

.module__game {
    display: none;
}

.product{
    height: 3740px;
}
.product__game {
  display: flex
;
  flex-direction: column;
  align-items: center;
}
.product-game_number {
  background-color: #fff;
  width: 343px;
  border-radius: 28px;
  height: 527px;
  }

  .product-game_arithmetic{
  background-color: #fff;
  width: 343px;
  border-radius: 28px;
  height: 561px;
  }
  .game-img1 {
    margin-left: -1px;
    width: 343px;
    height: 283px;
}
  .product-game_text{
    background-color: #fff;
    width: 343px;
    border-radius: 28px;
    height: 566px;
    }

  .product-game_vectoring{
  background-color: #fff;
  width: 343px;
  border-radius: 28px;
  height: 528px;
  }
  .product-game_stone {
    background-color: #fff;
    width: 343px;
    border-radius: 28px;
    height: 606px;
    }
    .product-game_generator {
      background-color: #fff;
      width: 343px;
      border-radius: 28px;
      height: 626px;
      }
      .product__field_picture{
        margin-left: 40px;
        margin-top: 29px;
        width: 284px;
        height: 182px;
    }
    

    .product-game_arithmetic {
      background-color: #fff;
      width: 343px;
      border-radius: 28px;
      height: 566px;
  }
  .product-game_picture{
      margin-left: -1px;
      width: 343px;
      height: 283px;
    }
    .game-img2 {
      margin-left: -1px;
      width: 343px;
      height: 283px;
  }
  .product__field_arithmetic{
    margin-left: 40px;
        margin-top: 29px;
        width: 284px;
        height: 182px;
    }
    .product__field_text{
      margin-left: 40px;
        margin-top: 29px;
        width: 284px;
        height: 182px;
    }
    .product__field_vectorihg{
      margin-left: 40px;
      margin-top: 29px;
      width: 284px;
      height: 182px;}

    .product__field_stone{
      margin-left: 40px;
      margin-top: 29px;
      width: 284px;
      height: 182px;}
    .product__field_generator{
      margin-left: 40px;
      margin-top: 29px;
      width: 284px;
      height: 182px;}
    .product__text_title{
    color: rgb(32, 32, 39);
    font-family: Montserrat;
    font-size: 32px;
    font-weight: 700;
    line-height: 39px;
    letter-spacing: 0px;
    text-align: left;
    margin-bottom: 10px;
    width: 284px;
}
.product__description {
color: rgb(0, 0, 0);
font-family: Montserrat;
font-size: 16px;
font-weight: 400;
line-height: 20px;
letter-spacing: 0px;
text-align: left;
width: 275px;
}
.product__button_big{
  display: none;
}
.product__star_big{
display: none;
}
.product__star_little{
  display: none;
}
.product__button_little {
  display: none;
}
.star__upper_right {
  position: absolute;
  width: 18px;
  height: 18px;
 right: 100px;
}
.star__lower_right{
  position: absolute;
  width: 39px;
  height: 41px;
 right: 50px;
}


.button-play{
  width: 285px;
  height: 55px;
  padding: 16px 28px 16px 28px;
  border-radius: 60px 60px 60px 60px;
  background-color: #202027;
  border-color: #202027;
  font-family: Montserrat;
  line-height: 34.01px;
  text-align: center;
  border: 1px solid rgb(32, 32, 39);
  color: rgb(255, 255, 255);
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 600;
  line-height: 141.69%;
  text-align: center;
  margin-left: -15px;

}
.footer__description{
  position: absolute;
  height: 20px;
  left: 93px;
}
}