* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

.multi-bg-example {
  background-color: rgb(225, 255, 143);
  height: 900px;
  background-repeat: no-repeat;
  background-image: url(img/Group1.svg);
  background-position: calc(100% + 489px) calc(0% - 334px);
  block-size: 750px;
}

.text1 {
  color: rgb(32, 32, 39);
  font-family: Montserrat;
  font-size: 64px;
  font-weight: 700;
  line-height: 78px;
  padding-top: 196px;
}

.block {
  color: rgb(32, 32, 39);
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  margin-top: 24px;
}

.button2 {
  background: rgb(0, 0, 0);
  text-align: center;
  border: 1px solid #fff;
  box-sizing: border-box;
  border-radius: 60px;
  margin-top: 18px;
  height: 55px;
  width: 247px;
  font-size: 16px;
  font-weight: 400;
  line-height: 50px;
  margin-left: 5px;
  font-family: Montserrat;
  font-size: 24px;
  margin-left: 32px;
  margin-top: 48px;
  display: inline-block;
  color: #fff;
}

.button2:hover {
  background: white;
  text-align: center;
  border: 1px solid #202027;
  color: black;
}

.star-polaris {
  position: absolute;
  display: flex;
  margin-top: 94px;
  right: 1600px;
}

.star-sirius {
  position: absolute;
  margin-top: 69px;
}

.star-antares {
  position: absolute;
  margin-left: 450px;
  margin-top: 100px;
  width: 83px;
}

.star-arcturus {
  position: absolute;
  margin-left: 400px;
  margin-top: 60px;
  width: 37px;
}

.for-box {
  background-color: rgb(32, 32, 39);
  position: relative;
  height: 1500px;
}

.boxing-game {
  color: rgb(255, 255, 255);
  font-family: Montserrat;
  font-size: 64px;
  font-weight: 700;
  line-height: 78px;
  text-align: left;
  padding-top: 94px;
}

.description__game {
  color: rgb(255, 255, 255);
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
  margin-top: 24px;
}

.cart-mini {
  background-color: #fff;
  width: 378px;
  border-radius: 30px;
  height: 473px;
}

.cart-avarage {
  background-color: #fff;
  width: 378px;
  border-radius: 30px;
  height: 512px;
}

.cart-right {
  background-color: #fff;
  width: 378px;
  border-radius: 30px;
  transform: scale(1);
  transition: ls;
  height: 473px;
}

.cart-hugev {
  background-color: #fff;
  width: 378px;
  margin-top: 36px;
  border-radius: 30px;
  height: 551px;
}

.cart-big {
  background-color: #fff;
  width: 378px;
  margin-top: 40px;
  border-radius: 30px;
  height: 512px;
}

.cart-huge {
  background-color: #fff;
  width: 378px;
  margin-top: 36px;
  border-radius: 30px;
  height: 551px;
}

.cart-mini:hover {
  background-color: #fff;
  width: 378px;
  border-radius: 30px;
  transform: scale(1.1);
  transition: ls;
}

.cart-avarage:hover {
  background-color: #fff;
  width: 378px;
  border-radius: 30px;
  transform: scale(1.1);
  transition: ls;
}

.cart-huge:hover {
  background-color: #fff;
  width: 378px;
  border-radius: 30px;
  transform: scale(1.1);
  transition: ls;
}

.cart-big:hover {
  background-color: #fff;
  width: 378px;
  border-radius: 30px;
  transform: scale(1.1);
  transition: ls;
}

.cart-hugev:hover {
  background-color: #fff;
  width: 378px;
  border-radius: 30px;
  transform: scale(1.1);
  transition: ls;
}

.text2 {
  border-radius: 52.58px;
  background: rgb(247, 247, 247);
  color: rgb(32, 32, 39);
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  line-height: 35px;
  width: 108px;
  height: 36px;
  margin-left: 16px;
  margin-top: 8px;
  text-align: center;
}

.cart-name {
  color: rgb(32, 32, 39);
  font-family: Montserrat;
  font-size: 32px;
  font-weight: 700;
  line-height: 39px;
  letter-spacing: 0px;
  text-align: left;
  margin-left: 16px;
  margin-top: 16px;
  margin-bottom: 20px;
}

.black-block {
  margin-top: 40px;
  display: flex;
  gap: 32px;
}

.star-rigel {
  position: absolute;
  transform: scale(1);
  transition: ls;
  right: 118px;
  top: 88px;
}

.star-vega {
  position: absolute;
  width: 32px;
  right: 1650px;
  top: 750px;
}

.star-altair {
  top: 800px;
  position: absolute;
  width: 55px;
  right: 1600px;
}

.mini-game {
  font-family: Montserrat;
  font-size: 64px;
  font-weight: 700;
  line-height: 78.02px;
  text-align: left;
  color: rgb(255, 255, 255);
}

.button-play {
  width: 247px;
  height: 66px;
  padding: 16px 28px 16px 28px;
  border-radius: 60px 60px 60px 60px;
  background-color: #202027;
  border-color: #202027;
  color: #fff;
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 600;
  line-height: 34.01px;
  text-align: center;
  border: 1px solid rgb(32, 32, 39);
  margin-top: 25px;
}

.button-play:hover {
  background-color: #fff;
  color: #202027;
  font-family: Montserrat;
}

.game {
  border-radius: 30px 30px 30px 30px;
}

.game1 {
  background-color: aliceblue;
  width: 1188px;
  height: 500px;
  border-radius: 52px;
  margin-top: 25px;
}

.game1 {
  background-color: aliceblue;
  width: 1188px;
  height: 500px;
  border-radius: 52px;
  margin-top: 25px;
}

.game2 {
  background-color: aliceblue;
  width: 1188px;
  height: 500px;
  border-radius: 52px;
  margin-top: 25px;
}

.game3 {
  background-color: aliceblue;
  width: 1188px;
  height: 500px;
  border-radius: 52px;
  margin-top: 25px;
}

.game4 {
  background-color: aliceblue;
  width: 1188px;
  height: 500px;
  border-radius: 52px;
  margin-top: 25px;
}

.game5 {
  background-color: aliceblue;
  width: 1188px;
  height: 500px;
  border-radius: 52px;
  margin-top: 25px;
}

.game6 {
  background-color: aliceblue;
  width: 1188px;
  height: 500px;
  border-radius: 52px;
  margin-top: 25px;
}

.game-img1 {
  margin-left: 590px;
  width: 600px;
  height: 500px;
}

.game-img2 {
  margin-left: 0px;
  width: 600px;
  height: 500px;
}

.pole {
  margin-top: -418px;
  width: 399px;
  height: 228px;
  margin-left: 82px;
}

.pole1 {
  margin-top: -418px;
  width: 544px;
  height: 295px;
  margin-left: 664px;
}

.pole3 {
  margin-top: -418px;
  width: 493px;
  height: 344px;
  margin-left: 64px;
}

.pole4 {
  margin-top: -451px;
  width: 515px;
  height: 344px;
  margin-left: 636px;
}

.for-box__big {
  height: 3400px;
  background-color: rgb(32, 32, 39);
  position: relative;
}

.title-game {
  margin-bottom: 20px;
  font-family: Montserrat;
  font-size: 48px;
  font-weight: 700;
  line-height: 58.51px;
  text-align: left;
}

.title-game1 {
  margin-bottom: 20px;
  font-family: Montserrat;
  font-size: 48px;
  font-weight: 700;
  line-height: 58.51px;
  text-align: left;
}

.describe {
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
  margin-bottom: 10px;
}

.describe1 {
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
  margin-bottom: 20px;
}

.rules {
  width: 1919px;
  height: 150px;
  top: 5770px;
  background-color: #BCEC30;
}

.protection {
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 600;
  line-height: 29.26px;
  text-align: center;
  padding-top: 60px;
  color: black;
}

.star-end1 {
  position: absolute;
  margin-left: 1180px;
  margin-top: -35px;
  width: 58px;
}

.star-end2 {
  position: absolute;
  margin-left: 1124px;
  margin-top: -61px;
  width: 36px;
}

.star-end3 {
  position: absolute;
  margin-left: 1104px;
  margin-top: 50px;
}

.star-end4 {
  position: absolute;
  margin-left: 1177px;
  margin-top: 4px;
}

.emoji {
  position: absolute;
  rotate: 7deg;
  margin-left: -233px;
  margin-top: 105px;
  width: 90px;
  height: 93px;
}

.emoji1 {
  position: absolute;
  rotate: 5deg;
  margin-left: 818px;
  margin-top: -325px;
  width: 143px;
  height: 141px;
}

.catalog {
  font-family: Montserrat;
  font-size: 94px;
  font-weight: 600;
  line-height: 39.26px;
  text-align: center;
  padding-top: 60px;
  color: black;
}

.pol1 {
  background-color: #BDED35;
  height: 150px;
}

.polet {
  color: rgb(0, 0, 0);
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
  letter-spacing: 0px;
  text-align: center;
  padding-top: 60px;
}

@media (max-width: 1024px) {
  .center {
    padding-left: calc(50% - 393px);
    padding-right: calc(50% - 393px);
  }
}
@media (max-width: 1024px) and (min-width: 768px) and (max-width: 833px) {
  .center {
    padding-left: 24px;
    padding-right: 24px;
  }
}
@media (max-width: 756px) {
  .center {
    padding-left: 16px;
    padding-right: 16px;
  }
  .button2 {
    position: absolute;
    background: rgb(0, 0, 0);
    text-align: center;
    border: 1px solid #fff;
    box-sizing: border-box;
    border-radius: 60px;
    margin-top: 18px;
    height: 55px;
    width: 247px;
    font-size: 16px;
    font-weight: 400;
    line-height: 50px;
    margin-left: 5px;
    font-family: Montserrat;
    font-size: 24px;
    margin-left: 72px;
    margin-top: 48px;
    display: inline-block;
    color: #fff;
  }
  .button2:hover {
    background: white;
    text-align: center;
    border: 1px solid #202027;
    color: black;
  }
  .mini-game {
    color: rgb(255, 255, 255);
    font-family: Montserrat;
    font-size: 40px;
    line-height: 49px;
    letter-spacing: 0px;
    text-align: left;
    padding-top: 50px;
  }
  .text1 {
    color: rgb(32, 32, 39);
    font-family: Montserrat;
    font-size: 40px;
    line-height: 49px;
    text-align: center;
  }
  .block {
    color: rgb(32, 32, 39);
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: center;
  }
  .multi-bg-example {
    background-image: url(img/Vector1.svg);
    background-color: rgb(225, 255, 143);
    background-repeat: no-repeat;
    background-position: calc(90% + 120px) calc(2% - 110px);
  }
  .star-sirius {
    position: absolute;
    width: 21px;
    height: 21px;
    right: 260px;
  }
  .star-polaris {
    position: absolute;
    width: 35px;
    height: 35px;
    right: 620px;
    margin-left: 0px;
    margin-right: -300px;
  }
  .star-antares {
    position: absolute;
    width: 39px;
    height: 41px;
    margin-left: 310px;
    margin-top: 175px;
  }
  .star-arcturus {
    position: absolute;
    width: 18px;
    height: 18px;
    margin-left: 280px;
    margin-top: 150px;
  }
  .for-box {
    display: none;
  }
  .for-box__big {
    height: 3700px;
  }
  .game1 {
    background-color: #fff;
    width: 342px;
    margin-top: 36px;
    border-radius: 28px;
    height: 510px;
  }
  .game2 {
    background-color: #fff;
    width: 342px;
    margin-top: 36px;
    border-radius: 28px;
    height: 560px;
  }
  .game3 {
    background-color: #fff;
    width: 342px;
    margin-top: 36px;
    border-radius: 28px;
    height: 520px;
  }
  .game4 {
    background-color: #fff;
    width: 342px;
    margin-top: 36px;
    border-radius: 28px;
    height: 530px;
  }
  .game5 {
    background-color: #fff;
    width: 342px;
    margin-top: 36px;
    border-radius: 28px;
    height: 570px;
  }
  .game6 {
    background-color: #fff;
    width: 342px;
    margin-top: 36px;
    border-radius: 28px;
    height: 600px;
  }
  .game-img1 {
    margin-left: -1px;
    width: 343px;
    height: 283px;
  }
  .game-img2 {
    margin-left: -1px;
    width: 343px;
    height: 283px;
  }
  .title-game {
    color: rgb(32, 32, 39);
    font-family: Montserrat;
    font-size: 32px;
    font-weight: 700;
    line-height: 39px;
    letter-spacing: 0px;
    text-align: left;
    margin-bottom: 10px;
    width: 284px;
  }
  .title-game1 {
    color: rgb(32, 32, 39);
    font-family: Montserrat;
    font-size: 32px;
    font-weight: 700;
    line-height: 39px;
    letter-spacing: 0px;
    text-align: left;
    width: 284.93px;
    margin-bottom: 10px;
  }
  .describe {
    color: rgb(0, 0, 0);
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: left;
    width: 275px;
  }
  .describe1 {
    color: rgb(0, 0, 0);
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: left;
    width: 275px;
  }
  .play {
    width: 285px;
    height: 55px;
    padding: 16px 28px 16px 28px;
    border-radius: 60px 60px 60px 60px;
    background-color: #202027;
    border-color: #202027;
    font-family: Montserrat;
    line-height: 34.01px;
    text-align: center;
    border: 1px solid rgb(32, 32, 39);
    color: rgb(255, 255, 255);
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 600;
    line-height: 141.69%;
    text-align: center;
  }
  .pole {
    margin-left: 40px;
    margin-top: 0;
    width: 284px;
    height: 182px;
  }
  .pole1 {
    margin-left: 40px;
    margin-top: 0px;
    width: 284px;
    height: 182px;
  }
  .pole3 {
    margin-left: 40px;
    margin-top: 0px;
    width: 284px;
    height: 182px;
  }
  .pole4 {
    margin-left: 40px;
    margin-top: 0px;
    width: 284px;
    height: 182px;
  }
  .polet {
    color: rgb(0, 0, 0);
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: center;
    padding-top: 40px;
  }
  .pol1 {
    background-color: rgb(225, 255, 143);
    height: 100px;
  }
  .star-end1 {
    display: none;
  }
  .star-end2 {
    display: none;
  }
  .star-end3 {
    display: none;
  }
  .star-end4 {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */