* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

.multi-bg-example {
  background-color: rgb(225, 255, 143);
  height: 900px;
  background-repeat: no-repeat;
  background-image: url(img/Group1.svg);
  background-position: calc(100% + 489px) calc(0% - 334px);
  block-size: 750px;
}

.multi-text {
  color: rgb(32, 32, 39);
  font-family: Montserrat;
  font-size: 64px;
  font-weight: 700;
  line-height: 78px;
  padding-top: 196px;
}

.multi-mini__text {
  color: rgb(32, 32, 39);
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  margin-top: 24px;
}

.multi-button{
  background: rgb(0, 0, 0);
  text-align: center;
  border: 1px solid #fff;
  box-sizing: border-box;
  border-radius: 60px;
  margin-top: 18px;
  height: 55px;
  width: 247px;
  font-size: 16px;
  font-weight: 400;
  line-height: 50px;
  margin-left: 5px;
  font-size: 24px;
  margin-top: 48px;
  display: inline-block;
  color:#fff;
}

.button2:hover {
  background: white;
    text-align: center;
    border: 1px solid #202027;
    color: black;
}

.star-polaris{
  position: absolute;
  display: flex;
  margin-top: 94px;
  right: 1600px;
}

.star-sirius{
  position: absolute;
  margin-top: 69px;
}

.star-antares {
  position: absolute;
  margin-left: 450px;
  margin-top: 100px;
  width: 83px;
}

.star-arcturus{
  position: absolute;
  margin-left: 400px;
  margin-top: 60px;
  width: 37px;
}

.star-box {
  background-color: rgb(32, 32, 39);
  position: relative;
  height: 1500px;
}

.boxing-game{
  color: rgb(255, 255, 255);
  font-family: Montserrat;
  font-size: 64px;
  font-weight: 700;
  line-height: 78px;
  text-align: left;
  padding-top: 94px;
}

.description__game {
  color: rgb(255, 255, 255);
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
  margin-top: 24px;
}

.cart-mini {
  background-color: #fff;
  width: 378px;
  border-radius: 30px;
  height: 473px;
  transform: scale(1);
  transition: ls;
}

.cart-avarage{
  background-color: #fff;
  width: 378px;
  border-radius: 30px;
  height: 512px;
  transform: scale(1);
  transition: ls;
}

.cart-right{
  background-color: #fff;
  width: 378px;
  border-radius: 30px;
  transform: scale(1);
  transition: ls;
  height: 473px;
}

.cart-hugev {
  background-color: #fff;
  width: 378px;
  margin-top: 36px;
  border-radius: 30px;
  height: 551px;
  transform: scale(1);
  transition: ls;
}

.cart-big{
  background-color: #fff;
  width: 378px;
  margin-top: 40px;
  border-radius: 30px;
  height: 512px;
  transform: scale(1);
  transition: ls;
}

.cart-huge{
  background-color: #fff;
  width: 378px;
  margin-top: 36px;
  border-radius: 30px;
  height: 551px;
  transform: scale(1);
  transition: ls;
}

.cart-mini:hover {
  background-color: #fff;
  width: 378px;
  border-radius: 30px;
  transform: scale(1.1);
  transition: ls;
}

.cart-avarage:hover {
  background-color: #fff;
  width: 378px;
  border-radius: 30px;
  transform: scale(1.1);
  transition: ls;
}



.cart-huge:hover {
  background-color: #fff;
  width: 378px;
  border-radius: 30px;
  transform: scale(1.1);
  transition: ls;
}

.cart-big:hover {
  background-color: #fff;
  width: 378px;
  border-radius: 30px;
  transform: scale(1.1);
  transition: ls;
}

.cart-hugev:hover {
  background-color: #fff;
  width: 378px;
  border-radius: 30px;
  transform: scale(1.1);
  transition: ls;
}
.cart-number{
  margin-left: 32px;
  margin-top: 16px;
  background: rgb(247, 247, 247);
  width: 111px;
height: 36px;
border-radius: 52.58px;
font-family: Montserrat;
text-align: center;

}
.text2 {
  border-radius: 52.58px;
  background: rgb(247, 247, 247);
  color: rgb(32, 32, 39);
  font-size: 16px;
  font-weight: 500;
  line-height: 35px;
  width: 108px;
  height: 36px;
  margin-left: 16px;
  margin-top: 8px;
  text-align: center;
}

.cart-name{
  color: rgb(32, 32, 39);
  font-family: Montserrat;
  font-size: 32px;
  font-weight: 700;
  line-height: 39px;
  letter-spacing: 0px;
  text-align: left;
  margin-left: 32px;
  margin-top: 16px;
  margin-bottom: 20px;
}

.black-block {
  margin-top: 40px;
  display: flex;
  gap: 32px;
     
}

.star-rigel{
  position: absolute;
  transform: scale(1);
  transition: ls;
  right: 118px;
  top: 88px;
}

.star-vega {
  position: absolute;
  width: 32px;
  right: 1650px;
  top: 750px;
}

.star-altair{
  top: 800px;
  position: absolute;
  width: 55px;
  right: 1600px;
}




.mini-game{
  font-family: Montserrat;
  font-size: 64px;
  font-weight: 700;
  line-height: 78.02px;
  text-align: left;
  color: rgb(255, 255, 255);    

}

.button-play{
  width: 247px;
  height: 66px;
  padding: 16px 28px 16px 28px;
  border-radius: 60px 60px 60px 60px;
  background-color: #202027;
  border-color: #202027;
  color: #fff;
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 600;
  line-height: 34.01px;
  text-align: center;
  border: 1px solid rgb(32, 32, 39);
  margin-top: 25px;
}

.button-play:hover{
   background-color: #fff;
   color: #202027;
   font-family: Montserrat;
}

.game{
   border-radius: 30px 30px 30px 30px;
}

.game1{

  background: rgb(255, 255, 255);
  width: 1188px;
  height: 500px;
  border-radius: 52px;
  margin-top: 25px
}
.game2{
  background: rgb(255, 255, 255);
  width: 1188px;
  height: 500px;
  border-radius: 52px;
  margin-top: 25px
}
.game3{
  background: rgb(255, 255, 255);
  width: 1188px;
  height: 500px;
  border-radius: 52px;
  margin-top: 25px
}
.game4{
  background: rgb(255, 255, 255);
  width: 1188px;
  height: 500px;
  border-radius: 52px;
  margin-top: 25px
}
.game5{
  background: rgb(255, 255, 255);
  width: 1188px;
  height: 500px;
  border-radius: 52px;
  margin-top: 25px
}
.game6{
  background: rgb(255, 255, 255);
  width: 1188px;
  height: 500px;
  border-radius: 52px;
  margin-top: 25px
}


.game-img1{
  margin-left: 590px;
  width: 600px;
  height: 500px;
}
.game-img2{
margin-left: 0px;
width:600px;
height: 500px;
}

.pole{
  margin-top: -418px;
  width: 399px;
  height: 228px;
  margin-left: 82px;
}

.pole1{
  margin-top: -418px;
  width: 544px;
  height: 295px;
  margin-left: 664px;
}

.pole3{
  margin-top: -418px;
  width: 493px;
  height: 344px;
  margin-left: 64px;
}

.pole4{
  margin-top: -451px;
  width: 515px;
  height: 344px;
  margin-left: 636px;
}
 .for-box__big{
  height: 3400px;
  background-color: rgb(32, 32, 39);
  position: relative;
 }

.title-game{
  margin-bottom: 20px;
  font-family: Montserrat;
  font-size: 48px;
  font-weight: 700;
  line-height: 58.51px;
  text-align: left;        
}

.title-game1{
  margin-bottom: 20px;
  font-family: Montserrat;
  font-size: 48px;
  font-weight: 700;
  line-height: 58.51px;
  text-align: left;        
}

.describe{
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;        
  margin-bottom: 10px;
}

.describe1{
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;        
  margin-bottom: 20px;
}

.rules{
  width: 1919px;
  height: 150px;
  top: 5770px;
  background-color: #BCEC30;        
}

.protection{
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 600;
  line-height: 29.26px;
  text-align: center;
  padding-top: 60px;
  color: black;
}

.star-end1{
  position: absolute;
    margin-left: 1180px;
    margin-top: -35px;
    width: 58px;
}

.star-end2{
  position: absolute;
  margin-left: 1124px;
  margin-top: -61px;
  width: 36px;
}

.star-end3{
  position: absolute;
  margin-left: 1104px;
  margin-top: 50px;
}

.star-end4{
  position: absolute;
  margin-left: 1177px;
  margin-top: 4px;
}

.emoji{
  position: absolute;
  rotate: 7deg;
  margin-left: -233px;
  margin-top: 105px;
  width: 90px;
  height: 93px;
}

.emoji1{
  position: absolute;
  rotate: 5deg;
  margin-left: 818px;
  margin-top: -325px;
  width: 143px;
  height: 141px;
}

.catalog{
  font-family: Montserrat;
  font-size: 94px;
  font-weight: 600;
  line-height: 39.26px;
  text-align: center;
  padding-top: 60px;
  color: black;
}
.pol1{
  background-color: #BDED35;

  height: 150px;
}
.polet{
  color: rgb(0, 0, 0);
font-family: Montserrat;
font-size: 24px;
font-weight: 600;
line-height: 29px;
letter-spacing: 0px;
text-align: center;
padding-top: 60px;
}

    @import 'tablet';
    @import 'mobile';